# fly.toml app configuration file generated for task-api-astro-tux-2026 on 2026-02-15T01:35:40-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'task-api-astro-tux-2026'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[deploy]
  release_command = "npx prisma migrate deploy"
